{% extends 'WebViewsBundle:Pages:base.html.twig' %}

{% block links %}
    <script src="{{ asset('Chart.js') }}"></script>
    <link href="{{ asset('css/air.css') }}" rel="stylesheet" media="screen">
    <script src="{{ asset('js/air.js') }}"></script>
{% endblock %}

{% block content %}


    <div class="row-fluid">
        <div class="col-md-4">
            <h3>Controllers info</h3>
            <div id="controllers-info"></div>
        </div>
        <div class="col-md-4">
            <h3>Values</h3>
            <div id="values"></div>
        </div>
        <div class="col-md-4">
            <h3>Controls</h3>
            <div id="controls"></div>
        </div>
    </div>


{% endblock %}