{% extends 'WebViewsBundle:Pages:base.html.twig' %}

{% block links %}
    <script src="{{ asset('Chart.js') }}"></script>
    <link href="{{ asset('css/air.css') }}" rel="stylesheet" media="screen">
    <script src="{{ asset('js/air.js') }}"></script>
{% endblock %}

{% block content %}


        <div class="column">
            <h2 align="center">Controllers info</h2>
        </div>

        <div class="column">
            <h2 align="center">Values</h2>
        </div>

        <div class="column">
            <h2 align="center">Controls</h2>
        </div>


{% endblock %}