{% extends 'WebViewsBundle:Pages:base.html.twig' %}

{% block body %}
    <p>Not implemented</p>
{% endblock %}

{% block menu_title %}
Home
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
