{% extends 'WebViewsBundle:Pages:base.html.twig' %}

{% block body %}
    <div id="info"></div>
    <div id="chart"></div>
    <script>

        // DOM vars
        var info_html = document.getElementById('info');
        var chart_html = document.getElementById('chart');

        // For relevance verification
        var current_info;



        // Verify data
        function verifyData(data) {
            if (Object.keys(data).toString() != Object.keys(current_info).toString()) {
                console.log("Need update!");
                return false;
            }
            for (var controller in data) {
                if (Object.keys(data[controller]).toString() != Object.keys(current_info[controller]).toString()) {
                    console.log("Need update!");
                    return false;
                }
            }
            return true;
        }



        // Generating current temperatures layout


        function updateLayout() {
            info_html.innerHTML = "";

            var request = new XMLHttpRequest();
            request.onreadystatechange = function () {
                if (request.readyState == 4 && request.status == 200) {
                    current_info = JSON.parse(request.responseText);

                    for (var controller in current_info) {

                        // Div wrapper
                        var block = document.createElement('div');
                        block.className = "info_container";


                        var table = document.createElement('table');


                        // Generating header

                        var header =            document.createElement('tr');
                        var name_cell =         document.createElement('td');
                        var chart_bt_cell =     document.createElement('td');

                        var name_container =    document.createElement('h3');
                        var chart_bt =          document.createElement('button');
                        chart_bt.className =    "chart_button";
                        chart_bt.id =           controller;
                        chart_bt.onclick =      showChart;

                        var name_text =         document.createTextNode(controller);
                        var chart_bt_text =     document.createTextNode('Show chart');

                        name_container.appendChild(name_text);
                        chart_bt.appendChild(chart_bt_text);

                        name_cell.appendChild(name_container);
                        chart_bt_cell.appendChild(chart_bt);

                        header.appendChild(name_cell);
                        header.appendChild(chart_bt_cell);

                        table.appendChild(header);


                        // Generating fields for values

                        for (var value_type in current_info[controller]) {

                            var row = document.createElement('tr');

                            var value_type_cell = document.createElement('td');
                            var value_cell = document.createElement('td');

                            var value_type_text = document.createTextNode(value_type);
                            value_cell.innerHTML = current_info[controller][value_type]+"°С";
                            value_cell.id = controller + ":" + value_type;

                            value_type_cell.appendChild(value_type_text);

                            row.appendChild(value_type_cell);
                            row.appendChild(value_cell);

                            table.appendChild(row);

                        }

                        block.appendChild(table);
                        info_html.appendChild(block);
                    }
                }
            };
            request.open('GET', '/api/temperatures/current');
            request.send();
        }




        // Update temperature values


        function updateTemperatures() {
            var request = new XMLHttpRequest();
            request.onreadystatechange = function () {
                if (request.readyState == 4 && request.status == 200) {
                    var data = JSON.parse(request.responseText);
                    if (!verifyData(data)) {
                        updateLayout();
                    }

                    else {
                        current_info = data;
                        for (var controller in current_info) {
                            for (var value_type in current_info[controller]) {
                                document.getElementById(controller+":"+value_type).innerHTML=
                                        current_info[controller][value_type]+"°С";
                            }
                        }
                    }


                }
            };
            request.open('GET', '/api/temperatures/current');
            request.send();
        }

        updateLayout();
        updateTemperatures();

        setInterval(updateTemperatures, 15000);




        // Okay. Charts. Let's start!


        function showChart() {
            var request = new XMLHttpRequest();
            request.onreadystatechange = function() {
                if(request.readyState == 4 && request.status == 200) {
                    console.log(request.responseText);
                }
            };
            request.open('GET', '/api/temperatures/controller/'+this.id);
            request.send();
        }

    </script>
{% endblock %}

{% block menu_title %}
Temperatures
{% endblock %}

{% block stylesheets %}
    <style>

        .info_container {
            margin-top: 30px;
            margin-right: 20px;
            margin-left: 20px;
            float: left;
        }

        .chart_button {
            background: transparent;
            color: gray;
            border: none;
            font-size: 14px;
        }
        .chart_button:focus {
            outline:none;
        }

        td {
            float: left;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 5px;
            margin: 0;
            vertical-align: bottom;
        }
        td h3 {
            margin: 0 0 10px;
            vertical-align: bottom;
        }

        #chart {
            padding-top: 100px;
            clear: both;
        }


    </style>
{% endblock %}
