{% extends "::base.html.twig" %}

{% block title %}RESTBundle:TemperatureController:currentTemperatures{% endblock %}

{% block body %}
<h1>Welcome to the TemperatureController:currentTemperatures page</h1>
{% endblock %}
