

.col-md-2:hover {
    background: #f0f0f0;
}

.temperatures-table {
    margin-bottom: 40px;
}

.temperatures-table td {
    padding-right: 20px;
}

#summary-wrapper {
    margin-top: 100px;
    display: none;
}


@media(min-width:768px) {


    /* One height blocks */

    #info-tables-wrapper {
        display: flex;
        flex-direction: row;
    }

}